@model IEnumerable<AgendaJaque.Models.Horario>

@{
    ViewData["Title"] = "Lista de Horários";
}

<h1>Lista de Horários</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar</a>
</p>

<partial name="_ListaHorarios" />