@model AgendaJaque.Models.Paciente

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar Paciente</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apelido" class="control-label"></label>
                <input asp-for="Apelido" class="form-control" />
                <span asp-validation-for="Apelido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profissao" class="control-label"></label>
                <input asp-for="Profissao" class="form-control" />
                <span asp-validation-for="Profissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CelularFamiliar" class="control-label"></label>
                <input asp-for="CelularFamiliar" class="form-control" />
                <span asp-validation-for="CelularFamiliar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMensal" class="control-label"></label>
                <input asp-for="ValorMensal" class="form-control" />
                <span asp-validation-for="ValorMensal" class="text-danger"></span>
            </div>

            <partial name="_Endereco" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
