@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vinda!</h1>
    <p>Esta é uma aplicação pessoal para cadastro de pacientes e controle de horários.</p>
</div>
